/* Navbar */
.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
  background-color: white;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0px
}

.logo {
  height: 50px;
  width: 200px;
  margin-left: 20px
}

.all-pets-icon {
  height: 30px;
  width: 40px;
  margin-right: 20px;
}

.adoption-form-icon {
  height: 35px;
  width: 25px;
  margin-right: 20px
}

.cart-icon {
  height: 32px;
  width: 32px;
  margin-right: 20px;
}

/* Homepage */
 .homepage-header {
   font-family: 'Bellota';
   text-align: center;
   padding-top: 30px;
   padding-bottom: 30px;
 }
 .homepage-buttons {
   font-family: "Amaranth";
 }

 .category-figures {
   display: flex;
   justify-content: space-evenly;
 }

 .category-img {
   width: 250px;
   height: 250px;
 }

 .category-captions {
   text-align: center;
   padding-bottom: 50px
 }

 .jumbotron-container {
  background-image: url("/gradient.jpeg");
}

.jumbotron-font {
  font-family: 'Amaranth';
  padding-top: 50px;
}

.homepage-icons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 50px;
  margin-bottom: 100px
}

.homepage-icons {
  height: 250px;
  width: 250px;
}

.guarantee-header {
  text-align: center;
  font-family: "Amaranth";
  padding-top: 100px
}

.icon-captions {
  font-family: "Amaranth";
  font-size: 30px;
  text-align: center;
  width: 250px;
}

.homepage-footer {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: "Amaranth";
  font-style: italic;
  background-image: url("/gradient.jpeg");
  color: gray
}

 /* All Pets */
 .all-pets-page {
   background-image: url("/gradient.jpeg");
   background-repeat: no-repeat;
   background-size: cover;
 }
 .all-pets-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

 }
 .all-pets-header {
   font-family: 'Bellota';
   font-size: 35px;
   text-align: center;
   padding-top: 50px;
   padding-bottom: 20px;
 }

 .plus-square-icon {
   padding-left: 10px;
 }

.all-pets-cards {
  /* flex-grow: 1; */
  align-content: flex-start;
  padding: 30px;
}

.pet-name {
  font-family: 'Bellota';
  text-align: center;
}
.carousel-container {
  display: flex;
  justify-content: center;
  width:1000px;
  height:700px;
  margin: auto;
}

.carousel-item {
  justify-content: center;
  margin: 0 auto;
  height: 700px;
  width: 1000px;
}

.carousel-font {
  font-family: "Amaranth";
  font-size: 30px;
  color: black
}

.pet-card-img {
  height: 150px;
  max-width: 100%;
  object-fit: contain;
}


/* Single Pet */
.single-pet-container {
  display: flex;
  padding-top: 100px;
  justify-content: space-evenly;
}

.single-pet-image {
  height: 300px;
  width: 450px;
}

.single-pet-intro-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.single-pet-name {
  font-family: "Bellota";
  font-size: 40px;
}

.single-pet-data-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-style: dotted;
  padding: 50px
}

.single-pet-header {
  font-family: "Bellota";
  font-size: 30px;
  padding-bottom: 50px
}

.single-pet-buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
}

.single-pet-button {
  height: 50px;
}

/* Adoption Form */
.adoption-form-header {
  font-family: "Bellota";
  font-size: 40px;
  padding-bottom: 40px;
  text-align: center;
}
.adoption-form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  margin-bottom: 100px
}
.adoption-form-fields {
  display: inline-block;
  border-style: solid;
  padding: 75px;
  margin-top: 100px;
  background-image: url("/gradient.jpeg");
}
.form-row {
  padding-bottom: 30px
}

.checkbox {
  padding-bottom: 20px
}

.adoption-form-image {
  height: 750px;
  width: 750px;
  padding: 50px;
  align-self: center;
}

.adoption-guidelines-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-top: 100px;
  padding: 50px;
  width: 50%;
}
.adoption-guidelines-header {
  font-family: "Bellota";
  font-size: 40px;
  text-align: center;
  padding-bottom: 20px;
}
.rules {
  font-family: "Bellota";
  font-size: 20px;
  text-align: center;
}

/* Create A Pet Form */

.create-pet-form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  margin-bottom: 100px
} 

.create-pet-guidelines-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-left: -30px;
  padding-top: 50px
}
.create-pet-guidelines-header {
  font-family: "Bellota";
  font-size: 40px;
  text-align: center;
  padding-bottom: 20px;
}

.create-pet-form-image {
  height: 750px;
  width: 600px;
  align-self: center;
}

.create-pet-form-header {
  font-family: "Bellota";
  font-size: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.create-pet-form-fields {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-style: solid;
  padding: 50px;
  margin-top: 100px;
  background-image: url("/gradient.jpeg");
}
.create-pet-radios-container {
  width: 400px
}

/* Edit A Pet Form */

.edit-pet-form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  margin-bottom: 100px
} 

.edit-pet-guidelines-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-left: -30px;
  padding-top: 50px
}
.edit-pet-guidelines-header {
  font-family: "Bellota";
  font-size: 40px;
  text-align: center;
  padding-bottom: 20px;
}

.edit-pet-form-image {
  height: 500px;
  width: 500px;
  align-self: center;
  padding-top: 50px;
  padding-bottom: 50px
}

.edit-pet-form-header {
  font-family: "Bellota";
  font-size: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.edit-pet-form-fields {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-style: solid;
  padding: 50px;
  margin-top: 100px;
  background-image: url("/gradient.jpeg");
}
.edit-pet-radios-container {
  width: 400px
}

/* About Us/FAQ */

.about-us-page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  margin-bottom: 100px
}
.about-us-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.about-us-image {
  padding-top: 75px;
  padding-left: 50px;
  height: 550px;
  width: 700px
}
.about-us-text {
  padding-top: 75px;
  padding-right: 50px;
  height: 300px;
  width: 750px;
  align-self: center;
}
.faq-container {
  display: flex;
  justify-content: space-between;
}
.faq-image {
  padding-top: 75px;
  padding-right: 50px;
  height: 550px;
  width: 500px
}
.faq-text {
  margin-left: 50px;
  margin-top: 75px;
  border-style: solid;
}
.card-header {
  font-family: "Amaranth";
  font-size: 25px;
  color: #17a2b8;
}